@page "/"
@using Data;
@using FinanczeskaServerApp.Services;
@inject JsonDataSerializer _jsonDataSerializer;
@inject ChatService _chatService;
@inject ModelCallerService _modelCallerService;
@inject IHttpContextAccessor _httpContextAccessor;

<body>
  <div class="container">
    <div class="row">


      <section class="discussions">
        <div class="discussion search">

        </div>


        @foreach(var item in chats){
                    <div class="discussion message-active" @onclick="( async () => { await OnClickChangeChat(item);} )">
              <div class="desc-contact" >
 
                <p class="name">@item</p>
              </div>
              <div class="timer">12 sec</div>
            </div>
        }


      </section>
      <section class="chat" >

        <div class="messages-chat">


            @foreach (var message in messages)
            {
                @if (message.IsRequest)
                {
                    <div class="message">
                        <p class="text">@message.Text</p>
                    </div>
                }
                else
                {
                    <div class="message text-only">
                        <div class="response">
                            <p class="text">@message.Text</p>
                        </div>
                    </div>
                }

            }

        </div>
        <div class="footer-chat">
          <input type="text" class="write-message" placeholder="Type your message here" @bind="text"/>
          <button  @onclick="Submit" >Submit</button>
        </div>
      </section>
    </div>
  </div>
</body>


@code {
    private string text = "";
    List<string> chats;
    List<Message> messages = new List<Message>() 
    { 
        new Message(DateTime.Now, "Test1", true), 
        new Message(DateTime.Now, "Test2", false), 
        new Message(DateTime.Now, "Test2", true) 
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP.Equals("::1"))
                clientIP = "localhost";
            chats = _chatService.GetUserChatList(clientIP);

            messages = _chatService.GetChatHistory(clientIP, text);

            StateHasChanged();

        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected async Task OnClickChangeChat(string name)
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP.Equals("::1"))
                clientIP = "localhost";

            messages = _chatService.GetChatHistory(clientIP, name);


            StateHasChanged();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


    protected override void OnAfterRender(bool firstRender)
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP == null)
                return;
            if (clientIP.Equals("::1"))
                clientIP = "localhost";
            chats = _chatService.GetUserChatList(clientIP);

            // execute conditionally for loading data, otherwise this will load
            // every time the page refreshes
            if (firstRender)
            {
                // Do work to load page data and set properties
            }
            StateHasChanged();
        }
        catch(Exception ex)
        {

        }

    }

    private async Task Submit()
    {
        string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
        if (clientIP == null)
            clientIP = "undefinded";


        Message message = new Message(DateTime.Now, text, true);
        bool humanResponseSaveResult = _jsonDataSerializer.SerializeToJson(clientIP, message);
        messages.Add(message);

        string resonse = await _modelCallerService.AskModel(clientIP, text);
        Message botResponseMessage = new Message(DateTime.Now, resonse, false);
        bool botResponseSaveResult = _jsonDataSerializer.SerializeToJson(clientIP, botResponseMessage);
        messages.Add(botResponseMessage);


        StateHasChanged();
    }

}