@page "/"
@using Data;
@using FinanczeskaServerApp.Services;
@inject JsonDataSerializer _jsonDataSerializer;
@inject ChatService _chatService;
@inject ModelCallerService _modelCallerService;
@inject IHttpContextAccessor _httpContextAccessor;

<body>
  <div class="container">
    <div class="row">


      <section class="discussions">
        <div class="discussion search">

        </div>


        <div>
            <button id="CreateNewChat" @onclick="OnCreateNewChatClick"  >create New Chat</button>
        </div>

        @if(chats!= null){
            @foreach (var item in chats)
            {
                <div class="discussion message-active" @onclick="( async () => { await OnClickChangeChat(item);} )">
                    <div class="desc-contact">

                        <p class="name"> Session : @item.Name</p>
                    </div>
                    <div class="timer"> Date : @DateTime.Now.ToString("yyyy.MM.dd") </div>
                </div>
            }
        }



      </section>
            <section class="chat" style="padding: 0px 0px;">

                <div class="alert alert-primary" style="background-color: #dee5f5; border-color: #60728b; text-align: center;     margin: 0 2.3em;">
                    <p style="font-size: 24px;">
                     
                        @switch (selectedBot)
                        {
                            case 1:
                                <span>Informacja o pomocy kryzysowej</span>
                                break;
                            case 2:
                                <span>Informacja dotyczjąca bezrobocia</span>
                                break;
                            case 3:
                                <span>Raport 2022 o zatrudnieniu cudzoziemców</span>
                                break;
                            case 4:
                                <span>Zatrudnienie niepełnosprawnych w 2022 roku.</span>
                                break;
                            case 5:
                                <span>Ilość zarejestrowanych miejsc pracy w 2022 roku.</span>
                                break;
                            case 6:
                                <span>Rozkład wieku bezrobotnych w 2022 roku.</span>
                                break;
                            default:
                                <span>Unknown Bot</span>
                                break;
                        }
                    </p>
                </div>

                <div class="messages-chat" style="margin-bottom: 3em; padding: 0px 0px;">
                    @if (messages.Count == 0 && selectedBot == null)
                    {
                        <div class="message, text">
                            <p style="margin-bottom: -0.0em;">Prosze wybrać bota, z którym mozna prowadzić rozmowe na temat finansowy albo statystyczny: </p>
                            <p style ="margin-bottom: -0.0em;">Informacja o pomocy kryzysowej </p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(1);} )">Wybierz</button>
                            <p style="margin-bottom: -0.0em;">Informacja dotyczjąca bezrobocia </p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(2);} )">Wybierz</button>
                            <p style="margin-bottom: -0.0em;">Raport 2022 o zatrudnieniu cudzoziemców</p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(3);} )">Wybierz</button>
                            <p style="margin-bottom: -0.0em;">Zatrudnienie niepełnosprawnych w 2022 roku. </p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(4);} )">Wybierz</button>
                            <p style="margin-bottom: -0.0em;">Ilość zarejestrowanych miejsc pracy w 2022 roku. </p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(5);} )">Wybierz</button>
                            <p style="margin-bottom: -0.0em;">Rozkład wieku bezrobotnych w 2022 roku. </p>
                            <button style="border-radius: 10px 10px 10px 10px; margin-bottom: 0.6em;" id="chatSubmit" @onclick="( async () => { await OnClickChangeData(6);} )">Wybierz</button>
                        </div> 
                    }
                    else
                    {
                        <p>Wybrany zostal bot </p>
                    }

            @foreach (var message in messages)
            {
                @if (message.IsRequest)
                {
                    <div class="message" >
                        <p class="text">@message.Text</p>
                    </div>
                }
                else
                {
                    <div class="message text-only " >
                        <div class="response">
                            <p class="text">@message.Text</p>
                        </div>
                    </div>
                }

            }

        </div>
                <div class="footer-chat" style="background-color: #fff;">
          <input id="textImput" type="text" class="write-message" placeholder="Type your message here" @bind="text"/>
            <button id="chatSubmit" @onclick="Submit" >
                Submit
            </button>
            <button id="VoiceRecord" @onclick="VoiceRecord">
                @sounrRecordError
            </button>
        </div>
      </section>
    </div>
  </div>
</body>


@code {

    string sounrRecordError = "Nagranie Głosu";
    int? selectedBot;
    Chat currentConversation;
    bool firstRender;
    private string text = "";
    List<Chat> chats;
    List<Message> messages = new List<Message>() 
    { 
        // new Message(DateTime.Now, "Test1", true), 
        // new Message(DateTime.Now, "Test2", false), 
        // new Message(DateTime.Now, "Test2", true) 
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP.Equals("::1"))
                clientIP = "localhost";
            chats = _chatService.GetUserChatList(clientIP);

            if (chats.Count > 0)
            {
                Chat defaultChat = chats.First();

                currentConversation = defaultChat;
                messages = _chatService.GetChatHistory(clientIP, defaultChat);
            }
            else
            {
                OnCreateNewChatClick();
            }

            StateHasChanged();

        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected async Task OnClickChangeData(int idOfDataFile)
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP.Equals("::1"))
                clientIP = "localhost";

            selectedBot = idOfDataFile;
            messages = _chatService.GetChatHistory(clientIP, currentConversation);

            StateHasChanged();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected async Task OnClickChangeChat(Chat chat)
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP.Equals("::1"))
                clientIP = "localhost";

            messages = _chatService.GetChatHistory(clientIP, chat);

            currentConversation = chat;
            StateHasChanged();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    /// <summary>
    /// Create chat
    /// </summary>
    public async void OnCreateNewChatClick()
    {
        try
        {
            Guid guid = Guid.NewGuid();
            Chat Newchat = new Chat(guid.ToString(), DateOnly.FromDateTime(DateTime.Now.Date));
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP == null)
                return;

            // await OnClickChangeChat(Newchat);

            selectedBot = null;

            // create Chat
            await _chatService.CreateNewChat(clientIP);

            // REfresz chat list
            chats = _chatService.GetUserChatList(clientIP);
            StateHasChanged();
        }
        catch(Exception ex)
        {

        }
    }


    protected override void OnAfterRender(bool firstRender)
    {
        try
        {
            string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
            if (clientIP == null)
                return;
            if (clientIP.Equals("::1"))
                clientIP = "localhost";
            chats = _chatService.GetUserChatList(clientIP);

            // execute conditionally for loading data, otherwise this will load
            // every time the page refreshes
            if (firstRender)
            {
                // Do work to load page data and set properties
            }
            StateHasChanged();
        }
        catch(Exception ex)
        {

        }

    }

    private async Task Submit()
    {
        string? clientIP = _httpContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
        if (clientIP == null)
            clientIP = "undefinded";


        Message message = new Message(DateTime.Now, text, true);
        bool humanResponseSaveResult = _jsonDataSerializer.SerializeToJson(clientIP,currentConversation, message);
        messages.Add(message);

        string resonse = await _modelCallerService.AskModel(clientIP, text, selectedBot.Value);
        Message botResponseMessage = new Message(DateTime.Now, resonse, false);
        bool botResponseSaveResult = _jsonDataSerializer.SerializeToJson(clientIP,currentConversation, botResponseMessage);
        messages.Add(botResponseMessage);


        StateHasChanged();
    }

    public void VoiceRecord()
    {
        sounrRecordError = "Nie działa nagrywanie Głosa";
        
    }

    

}