@page "/post-text-content"

@using FinanczeskaServerApp.Data
@inject JsonDataSerializer _JsonDataSerializer
@inject IHttpContextAccessor _httpContextAccessor;

<h3>PostTextContent</h3>

<EditForm Model="@text" OnSubmit="@Submit">
    <InputText @bind-Value="text" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private string text = "";


    private void Submit()
    {
        string clientIP = _httpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString();
        JsonDataSerializer.SerializeToJson(clientIP, text);
    }

}
