@page "/post-text-content"

@using FinanczeskaServerApp.Data
@inject JsonDataSerializer JsonDataSerializer

<h3>PostTextContent</h3>

<EditForm Model="@text" OnSubmit="@Submit">
    <InputText @bind-Value="text" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private string text = "";

    private void Submit()
    {
        //get HttpContextAccessor from DI
        var httpContextAccessor = new HttpContextAccessor();
        //get the current HttpContext
        var httpContext = httpContextAccessor.HttpContext;
        JsonDataSerializer.SerializeToJson(text, text, httpContext);
    }

}
